@charset "utf-8";
@font-face {
	font-family: Disney;
	src: url(disney.ttf) format('truetype');
}
/*
	Course: CIS155
			Project v2
	Author: Blaize Brazeal
	Date:   7 August 2019
   
	Filename: ph_styles.css
*/


/* Media Styles */
	/*
	M5LO3 Use media queries to format a page differently for phones vs. PCs. 
		Set up a media query for phones
	*/
@media screen and (max-width: 500px){
	section.home *{
		width: 100%;
		float: none;
		position: initial;
	}
	
	#contact{
		float: none;
		width: 100%;
		height: 25%;
	}
	
	#slide {
		display: none;
	}
	
	header > nav ul{
		white-space: normal;
	}

	a.subnav {
		display: none;
	}
	
	a.sitenav:hover+a.subnav, a.subnav:hover{
		display: none;
	}
	
	#slide {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		white-space: normal;
	}

}


/* Structural Styles */
header, main, footer {
	margin: 1px 1px 1px 1px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex: 0 4 auto;
	flex: 0 4 auto;
}
	/*
	M4LO4 Demonstrate the use of gradients
		Changed the background to a gradient for style
	*/
body {
	background-color: rgb(110, 180, 255);
	background-color: hsla(210, 80%, 45%, .6);
	background: linear-gradient(to bottom, hsla(210, 40%, 65%, .6), hsla(220, 80%, 45%, .6));
}


/* Navigation Styles */
nav ul{
	list-style-type: none;
}

header > nav ul{
	font-family: Disney;
	font-size: 1.3em;
	text-align: right;
	vertical-align: bottom;
	white-space: nowrap;
}
	
header > nav li{
	position: relative;
	display: inline;
	margin: 50px 50px 0px;
	top: 100px;
	border-bottom: 1px double blue;
}

header > nav img{
	height: 2em;
	position: relative;
	top: 14px;
}

#footnav ol{
	list-style-type: upper-roman;
}

#footnav ol ol{
	list-style-type: lower-roman;
}

	/*
	M5LO4 Use CSS for pull-down menus (or collapsible/expandable areas) 
		Changed the navigation in the footer to expand on the submenus
	*/
ol.submenu {
	display: none;
}

a.navigation:hover+ol.submenu, ol.submenu:hover{
	display: block;
}

/* Section Styles */

	/*
	M4LO2 Demonstrate the use of background images
		Header image is now in the background
	*/
header{
	position: relative;
	display: block;
	width: 100%;
	height: 10em;
	background: url(parks.jpg) 0px -15px /  100% 150px no-repeat;
}

main{
	display: block;
	width: 100%;
}

section.home h1{
	font-family: Disney;
	text-align: center;
	font-size: 2em;
}

	/*
	M4LO3 Demonstrate the use of rounded corners for borders
		Rounded out two of the corners on a border
	M4LO5 Demonstrate the use of text or box shadowing
		Created a shadow around and inside the border
	*/
#contact {
	float: left;
	position: fixed;
	width: 230px;
	height: 230px;
	background-color: hsla(15, 90%, 85%, .7);
	color: hsl(200, 85%, 30%);
	border: 3px groove hsl(350, 90%, 85%);
	border-radius: 0px 40px 40px 0px;
	box-shadow: inset hsl(300, 70%, 20%) 5px 5px 25px,
	hsl(300, 70%, 20%) 9px 7px 25px;
	display: block;
}

#contact dl{
	position: relative;
	left: 17px;
}
#contact dt{
	display: list-item;
	list-style-image: url(ear_bullet.svg);
}


	/*
	M5LO5 Demonstrate the use of flexboxes on a web page 
		Flexbox makes the contents of the section flow in a row instead of wherever they fall
	M5LO7 Demonstrate use of properties of flexbox containers 
		setting the flow of the flexbox to stay in a row and on the same line
	M5LO6 Demonstrate use of properties of flexbox items 
		Should shrink to fit 
	*/
#slide {
	float: right;
	width: 80%;
	height: 70%;
	display:-webkit-flex;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	white-space: nowrap;
	-webkit-flex: 0 4 auto;
	flex: 0 4 auto;
}

	/*
	M4LO8 Demonstrate the use of transformations for 2D or 3D images 
		Transformation on photos in the slide moving the left side toward the back
	*/
#slide img{
	width: 90%;
	height: 90%;
	transform: perspective(1000px) rotateY(-20deg);
}

#slide figcaption{
	background-color: pink;
	text-align: center;
}

#deals {
	float: right;
	width: 50%;
	height: 45%;
	padding: 1em;
	border: 5px ridge purple;
	border-radius: 60px;
	display: block;
}

	/*
	M4LO6 Demonstrate the use of opacity/transparency for images
		Made the image slightly transparent
	*/
#deals img{
	width: 100%;
	position: relative;
	opacity: .7;
}

a:visited{
	color: hsl(155, 90%, 20%);
}

#footdisc {
	float: left;
	width: 55%;
	list-style-image: url(ear_bullet.svg);
	padding-top: 4em;
	padding-left: 7em;
}

#footdisc nav{
	padding-left: 40%;
}

#footnav {
	float: right;
	width: 30%;
}

#footdisc p{
	text-align: center;
}

#assignment {
	float: left;
	width: 100%;
}

#v1 {
	background-color: hsl(155, 80%, 55%);
}

#v2 {
	background-color: hsl(290, 30%, 55%);
}

section.about h1{
	text-align: center;
}

footer{
	position: relative;
	overflow: auto;
	display: block;
	bottom: 0;
	width: 100%;
	font-size: .7em
}

#cruisetable h1{
	text-align: center;
}


/*Table Styles*/

	/*
	M6LO7 Demonstrate how to format a table with CSS
		Formatted the table on disneycruise.html page
	*/
table.cruisesched {
	border: 5px ridge blue;
	width: 100%;
	border-collapse: collapse;
}

table.cruisesched th, table.cruisesched td {
	border: 1px solid green;
	text-align: center;
}
